@import "tailwindcss";

@theme {
  /* primary: "#6D2323",
    secondary: "#A31D1D",
    accent: "#E5D0AC",
    background: "#FEF9E1", */

  /* LOW FIDELITY COLORS */
  --color-primary: #4a4a4a; /* Dark Gray */
  --color-secondary: #6b6b6b; /* Medium Gray */
  --color-accent: #afafaf; /* Light Gray */
  --color-background: #e5e5e5; /* Very Light Gray */
}

#root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.serif {
  font-family: "Crimson Text", serif;
}
