@import "tailwindcss";

@theme {
  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #e5e7eb;
  --color-neutral-300: #d1d5db;
  --color-neutral-400: #9ca3af;
  --color-neutral-500: #6b7280;
  --color-neutral-600: #4b5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1f2937;
  --color-neutral-900: #111827;

  /* LOW FIDELITY COLORS */
  --color-primary: #f3f4f6; /* Dark Gray */
  --color-secondary: #d9d9d9; /* Medium Gray */
  --color-accent: #e5e7eb; /* Light Gray */
  --color-background: #ffffff; /* Very Light Gray */

  /* TEXT SIZES */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;

  /* FONT WEIGHTS */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* DISPLAY */
  --text-display-lg: 3.25rem;
  --text-display-sm: 2.75rem;

  /* LABELS */
  --text-label-lg: 1rem;
  --text-label-md: 0.875rem;
  --text-label-sm: 0.75rem;
  --text-label-xs: 0.625rem;
}
@layer components {
  /* HEADINGS */
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  h4 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  h5 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

#root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.serif {
  font-family: "Crimson Text", serif;
}
.container {
  max-width: calc(100% - 17.5rem);
  margin-left: auto;
  margin-right: auto;
}
